<h1 id="title">Apiário Santa Rita</h1>


@*
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="itembar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">MEL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRÓPOLIS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GELEIA REAL</a>
                </li>
            </ul>
        </div>
    </div>
</nav>*@
@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 items-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 items-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">MEL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PROPÓLIS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GELEIA REAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">DERIVADOS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<partial name="_Carousel" />